.rows{
    display: flex;
    width: 1000px;
    height:200px;
    justify-content: space-evenly;
    }

.board_square{
    /*display:inline-block;*/
    width:200px;
    height:200px;
    background-color:skyblue;
    border:solid 1px;
}
#blank1, #blank2, #blank3, #blank4, #cellturn, #lastturn, #currentstanding{
    background-color:white;
}

/*#cellturn, #lastturn, #currentstanding{
    border:solid;
}*/

/*#blank1{
border-right:none;
border-bottom:none;
margin-right:1px;
margin-bottom:1px;
background-image: url("images/1.jpg");
background-size:cover;
}

#blank2{
border-left:none;
border-bottom:none;
margin-left:1px;
margin-bottom:1px;
background-image: url("images/2.jpg");
background-size:cover;
}

#blank3{
border-right:none;
border-top:none;
margin-right:1px;
margin-top:1px;
background-image: url("images/3.jpg");
background-size:cover;
}

#blank4{
border-left:none;
border-top:none;
margin-left:1px;
margin-top:1px;
background-image: url("images/4.jpg");
background-size:cover;
}
*/

#image{
    position:absolute;
    background-image:url('images/monopolybig.jpg');
    width:398px;
    height:396.6px;
    margin:0px;
    padding:0px;
    background-size:cover;
    top:209px;
    left:207.5px;
    border:solid 1px;

}
/*.game_status{*/
    /*display:inline-block;*/
/*}*/

#square9{
    position:relative;
}

#square8 div{
    background-color:white;
    width:100%;
    height:45px;
    border-bottom:solid;
}
/*
#square8{
    transform:rotate(180deg);
}*/

.game_board, .rows{
    margin:0px;
    padding: 0px
    border:solid;
}

